.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #b90000;
  }

  .sidebar .nav-link:hover {
    color: #b90000; /* Warna merah muda saat hover */
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #ad1717e6;
    box-shadow: inset -1px 0 0 #ad1717e6;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }


